    <div class="block" style="height: 580px;">
     <div class="centered">
	 <br></br>
	 </br>
     <div class="t3"> Sorry, but we had to close shop due to supplier problems. </div>
	 </div>
	 </div>
	 